<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/c_add_internship/">Add Internship Program</a><br>
<a href="/myapp/c_view_internship/">View Internship Program</a><br>
<a href="/myapp/c_view_applicationGet/">View Application</a><br>
{#<a href="/myapp/c_add_task/">Add Task</a><br>#}
<a href="/myapp/c_view_complaints/">View Complaints</a><br>
<a href="/myapp/c_view_user/">View User</a><br>
<a href="/myapp/c_view_daily_reports/">View Daily Reports</a><br>

</body>
</html>